* {
  margin: 0;
  padding: 0;
  background-color: #78909C;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.website {
  font-family: 'Raleway', sans-serif;
}

.app_header {
  box-sizing: border-box;
  text-align: center;
  text-decoration: underline;
}

.app {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.app--section {
  vertical-align: text-bottom;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.print {
  text-shadow: 1px 1px #F48FB1;
}

.app--section:hover {
  color: #F48FB1;
  cursor: pointer;
}

.app--section:hover > .print {
  color: #F48FB1;
}

@media (min-width: 10px) and (max-width: 480px) {

  .app {
    max-width: 300px;
  }

  .app_header {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2em;
  }

  .app--section {
    font-size: 1.2em;
    padding: 15px;
  }

  .print {
    font-size: 1.8em;
    padding: 8px;
  }
}

@media (min-width: 481px) and (max-width: 650px) {

  .app {
    max-width: 300px;
  }

  .app_header {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 2.8em;
  }

  .app--section {
    font-size: 1.2em;
    padding: 20px;
  }

  .print {
    font-size: 2em;
    padding: 10px;
  }
}

@media (min-width: 651px) and (max-width: 1204px) {

  .app {
    max-width: 600px;
  }

  .app_header {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 2.8em;
  }

  .app--section {
    font-size: 1.2em;
    padding: 20px;
  }

  .print {
    font-size: 2em;
    padding: 10px;
  }

}

@media (min-width: 1205px) and (max-width: 3000px) {

  .app {
    max-width: 900px;
  }

  .app_header {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 2.8em;
  }

  .app--section {

    font-size: 1.5em;
    padding: 22px;
  }

  .print {
    font-size: 2.3em;
    padding: 10px;
  }
}